body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.light-mode {
    background-color: #ffffff;
    color: #2b3945;
}

.dark-mode {
    background-color: #2b3945;
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 55px;
    margin-bottom: 2.5rem;
    background-color: inherit;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

input,
select {
    margin: 10px;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode input,
.dark-mode select,
.dark-mode .back-button {
    background-color: #354655;
    color: #ffffff;
    border: 1px solid #ffffff;
    border: none;
}

button {
    margin: 10px;
    font-weight: bold;
}

.country-card {
    background: inherit;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s;
}

.country-card img {
    width: 100%;
    height: 50%;
    border-radius: 5px;
}

.country-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1.2rem;
}

.search-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin: 1rem;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.search-bar input {
    padding-left: 40px;
}

.search-icon {
    position: absolute;
    left: 25px;
    color: #ccc;
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 1rem;
    padding: 0;
}

.dark-mode-toggle svg {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.not-found {
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    margin: 10px;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

.country-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.country-card {
    cursor: pointer;
    transition: transform 0.3s;
}

.country-card:hover {
    transform: translateY(-5px);
}

.not-found {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.waiting-time {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: bold;
}

.country-detail {
    margin: 2rem;
}

.country-detail img {
    width: 90%;
    height: 100%;
}

.country-data {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 500px;
    width: 100%;
    position: relative;
    top: -1.5rem;
}

.country-data h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.country-data p {
    margin: 0.5rem 0;
}

.back-button {
    align-self: flex-start;
    margin-left: 1.6rem;
    padding: 0.6rem 2rem;
    font-size: 1rem;
    background-color: inherit;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: inherit;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.back-button svg {
    margin-right: 1rem;
}

.country-dtl {
    display: flex;
    padding: 5rem;
}

.country-dtl > div:nth-child(1) {
    flex-grow: 0.8;
}

.borders {
    padding: 0 1rem;
}

.borders button{
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
}

.data-text {
    display: flex;
}

.internal-data {
    padding: 1rem;
}

.country-name {
    padding-left: 1rem;
}